<?xml version="1.0" encoding="UTF-8"?>
<!--monitorInterval重新加载日志配置的时间-->
<!--ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF; 打印大于等于该级别的日志-->
<Configuration status="INFO" monitorInterval="5">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
            <!-- %logger{36} 表示 Logger 名字最长36个字符 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>